.hero-about {
    padding: 0;
    position: relative;
    height: calc(100vh - var(--header-height));
}

.hero_details {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_details > * {
    color: #fff;
}

.hero_details h1 {
    font-family: 'Outfit', sans-serif;
    font-size: var(--size-5xl);
}

.about_hero_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    transform-origin: bottom;
    filter: brightness(50%);
    animation: about_hero_image_zoom linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes about_hero_image_zoom {
    25% {
        opacity: 1;
    }
    85%, 100% {
        opacity: 0;
        scale: 1.5;
    }
}


.about-info {
    height: auto;
    width: 100%;
    display: flex;
    /* flex-direction: row;
    align-items: flex-start; */
    gap: 2rem;
}

.about-info-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}



.about-info-details {
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}



.about-info-details .section_title {
    width: auto;
}

.about-image-wrapper {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid #fff;
}

.about-image-wrapper > * {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.quote-wrapper {
    margin-block: 2rem;
    padding: 2rem;
    text-align: center;
}
.quote-upper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quote-lower {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* MISSION VISION */

.mission-wrapper {
    display: flex;
    gap: 2rem;
    margin-block-end: 2rem;
}

.mission-wrapper > * {
    flex: 1;
}

.mv-image-wrapper{
    height: 450px;
    border-radius: 10px;
    border: 5px solid #fff;
}

.mv-image-wrapper > * {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.mission-details-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    text-align: justify;
}

.mission-details-wrapper .section_title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}