.services_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    grid-gap: 20px;
    place-items: center;
    height: auto;

}

.services_cards {
    text-align: center;
    width: 100%;
    background-color: pink;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.services_cards:hover {
    
    outline: 3px solid #fff;

    .services_image img {
        transform: scale(1.1);
    }

    .services_cards_details p {
        display: block;
    }

    .services_cards_details {
        background-color: rgba(0, 0, 0, 0.5);
    }

}

.services_cards_details{
    padding: 1rem;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.services_cards_details p {
    display: none;
    text-align: justify;
    font-size: var(--size-sm);
    line-height: 1rem;
}

.services_cards_details h3 {
    font-size: var(--size-sm);
}

.services_cards_details > * {
    color: #fff;
    padding-block: 1rem;
}

.services_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
}

@media (min-width: 768px) {
    .services_cards {
        height: 250px;
        min-width: 230px;
    }
}

@media (min-width: 1024px) {
    .services_cards {
        height: 350px;
        min-width: 280px;
    }
}

@media (min-width: 1440px) {
    .services_cards {
        height: 400px;
    }
}